body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    background-color: #f2f2f2;
}
button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 15px;
}
input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}
#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.product {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    text-align: center;
}
#product-container img {
    height: auto; 
    display: block; 
    margin: 0 auto; 
}
.product img {
    max-width: 100%;
}
nav {
    background-color: white;
    min-width: 100%;
}
#category-selection {
    margin-left: 15px;
    display: flex;
    justify-content: space-around;
}
#category-selection button {
    height: auto;
    min-width: 120px;
    border-radius: 0;
    background-color: white;
    border: none;
    margin: 0;
    padding: 27px;
    transition: 0.3s;
}
#category-selection button:hover {
    transition: 0.3s;
    background-color: #f2f2f2;
    color: black;
}
.content {
    background-color: #f2f2f2;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
}
.nav-content {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.content-container {
    padding: 0 20px;
}
.admin-content {
    width: 100%;
}
.admin-block {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
}
.admin-login {
    margin-right: auto;
    top: 112px;
    position: absolute;
    display: flex;
    width: 380px;
    height: 250px;
    font-family: Graphik,sans-serif;
    border-radius: 20px;
    background-color: white;
    padding: 55px 40px 40px 40px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.1), 0 4px 4px 0 rgba(0,0,0,.04);
    z-index: 10;
    opacity: 0;
    transition: 0.5s;
}
.admin-content button {
    background: black;
    color: white;
}
.admin-content button:hover {
    background: gray;
    color: white;
}
#products {
    margin-top: 15px;
}
.product-page img {
    width: 400px;
    height: 500px;
}
#product-container {
    max-width: 800px;
}
form {
    max-width: 300px;
}

#add-product {
    max-width: 300px;
}

button {
    border-radius: 10px;
    border: 0;
    background-color: white;
    transition: 0.5s;
}
button:hover {
    border-radius: 10px;
    border: 0;
    background-color: black;
    color: white;
    transition: 0.5s;
}
#clear-cart {
    background-color: black;
    color: white;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: 0.5s;
}
#clear-cart:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}
.add-to-cart {
    margin-left: 15px; 
    background-color: black;
    color: white;
    transition: 0.5s;
    border: 1px solid black;
}
.add-to-cart:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
    border: 1px solid black;
}
#cart-content {
    margin-top: 15px;
}
#orders {
    min-width: 1000px;
}
th, td {
    border: 2px solid black
}
td {
    max-width: 1300px;
}

#orders {
    margin-top: 15px;
}
#orders button {
    padding: 0;
}


body {
    display: flex;
    min-height: 100vh; /* vh - это единица измерения, равная 1% от высоты видимой области экрана */
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1 0 auto; /* этот блок будет занимать всё доступное пространство */
}

footer {
    flex-shrink: 0; /* подвал не будет сжиматься и всегда будет оставаться внизу */
}


footer {
    background-color: #fff;
    color: black;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    margin-top: 25px;
}

.footer-section {
    flex: 1;
    margin: 10px;
    padding: 20px;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section p, .footer-section a {
    font-size: 14px;
}

.footer-section a {
    color: black;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.article {
    box-sizing: border-box;
    width: 100%;
    max-width: 880px;
    overflow-x: auto;
    overflow-y: visible;
    position: relative;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.article table {
    color: #111111;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-top: 1px solid #e5e5e5;
}

.tbody {
    border-top: 1px solid #e5e5e5;
}

#price-filter {
    display: none;
    margin-top: 55px;
    max-width: 300px;
}

#popular-products {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.popular-product {
    flex-basis: 19%; /* Задает базовый размер элемента, оставляя примерно 1% между элементами */
    margin-bottom: 20px; /* Добавляем нижний отступ, чтобы при переносе строки между элементами было некоторое расстояние */
    display: flex;
    flex-direction: row;
}
.popular-product .product {
    margin-left: 35px;
}

#brands {
    text-align: center;
    padding: 20px;
}

.brand-logo-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.brand-logo-container a img {
    max-width: 200px;
    margin: 10px;
}

.brandimg {
    filter: invert(0%) sepia(0%) saturate(7467%) hue-rotate(225deg) brightness(0%) contrast(108%);
}